.alot {
  width: 100%;
  height: 322px;
}
.alot .center {
  width: 1425px;
  height: inherit;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.alot .center .product {
  display: inline-block;
  margin-top: 90px;
  margin-left: 16px;
  margin-right: 16px;
}
.alot .center .product img {
  object-fit: cover;
  width: 120px;
  height: auto;
  transition: 500ms;
}
.alot .center .product:hover img {
  transform: scale(1.14, 1.14);
}
.alot .center .text p {
  font-size: 25px;
  color: black;
  font-family: bani;
}
.alot .center .text {
  width: inherit;
  height: auto;
  position: absolute;
  top: 27px;
}
.another {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.another .center {
  width: 1425px;
  height: inherit;
  text-align: center;
  margin: 0 auto;
}
.another .center .bro {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  margin-top: 6px;
}
.another .center .bro img {
  width: 310px;
  height: 245px;
  object-fit: cover;
  border-radius: 15px;
  transition: 700ms;
}
.another .center .bro:hover img {
  transform: scale(1.03, 1.03);
}
