.hard {
  width: 100%;
  height: 700px;
}
.hard .center {
  width: 1425px;
  height: inherit;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.hard .center p {
  font-family: bani;
  font-size: 30px;
  margin-top: 30px;
  display: inline-block;
  width: inherit;
}
.hard .center .mySwiper-3 {
  height: 600px;
}
.hard .center .swiper-wrapper .swiper-slide {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.hard .center .swiper-wrapper .swiper-slide img {
  object-fit: cover;
  width: inherit;
  height: 400px;
  border-radius: 20px;
}
.flex {
  flex-direction: column !important;
}
.hard .center .swiper-slide .price {
  width: 300px;
  margin-bottom: 7px;
  position: absolute;
  right: 10px;
}
.hard .center .swiper-slide .price .left,
.hard .center .swiper-slide .price .right {
  display: inline-block;
  width: 45%;
}
.hard .center .swiper-slide .price .left {
  text-align: left;
  font-family: bani;
  color: rgb(71, 71, 71);
  font-size: 12px;
  text-decoration: line-through;
}
.hard .center .swiper-slide .price .right {
  text-align: right;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.hard .center .swiper-slide .text {
  width: 300px;
  position: relative;
  bottom: -40px;
  right: 10px;
  margin-bottom: 7px;
}
.hard .center .swiper-slide .text .left,
.hard .center .swiper-slide .text .right {
  display: inline-block;
  width: 45%;
}
.hard .center .swiper-slide .text .left {
  text-align: left;
  font-family: bani;
  color: #2cca88;
  font-size: 15px;
}
.hard .center .swiper-slide .text .right {
  text-align: right;
  font-size: 12px;
  font-family: bani;
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hard .center .swiper-slide .text .square1 {
  width: 40px;
  height: 25px;
  box-shadow: 1px 1px 0px rgb(130, 130, 130);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-right: 5px;
}
.hard .center .swiper-slide .text .square2,
.hard .center .swiper-slide .text .square1 {
  font-size: 12px;
  line-height: 25px;
}

.hard .center .swiper-slide .position {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: #f16422;
  color: whitesmoke;
  line-height: 50px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  font-weight: bold;
  font-size: 20px;
}
.hard .center .swiper-slide .position2 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  right: 30px;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(186, 185, 185);
  display: none;
  transition: 300ms;
}
.hard .center .swiper-slide:hover .position2 {
  display: block;
}
.hard .center .swiper-slide .position2 i:hover {
  color: #2cca88;
}
.hard .center .swiper-slide .position2 i {
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 300ms;
}
.hard .center .swiper-slide .position3 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 100px;
  right: 30px;
  line-height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgb(186, 185, 185);
  display: none;
  transition: 300ms;
}
.hard .center .swiper-slide:hover .position3 {
  display: block;
}

.hard .center .swiper-slide .position3 i {
  color: rgb(0, 0, 0);
  font-size: 20px;

  transition: 300ms;
}
.hard .center .swiper-slide .position3 i:hover {
  color: #2cca88;
}
.hard .center .observe {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 1px;
}
.hard .center .observe .see h1 {
  color: #2cca88;
  line-height: 50px;
  font-size: 20px;
  font-family: bani;
  font-weight: bold;
}
.hard .center .observe .see {
  width: 270px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  left: calc(50% - 270px / 2);
  border: 1px solid #2b2b2b;
  transition: 300ms;
}
.hard .center .observe .see:hover {
  border-color: #0acc8b;
}
